bind_addr = "0.0.0.0" # the default

data_dir  = "/tmp/nomad"

server {
  enabled          = true
  bootstrap_expect = 3
}

client {
  enabled       = true
  network_speed = 10
  options {
    "driver.raw_exec.enable" = "1"
  }
}

consul {
  address = "127.0.0.1:8500"
}

atlas {
  join = false
}